footer {
    background-color: var(--footer-bg-color);
    color: var(--text-color);
    padding: var(--padding-unit);
    text-align: center;
    clear: both;
    border-top: var(--border-width) solid var(--link-text-color);
    animation: pulse 2s infinite alternate;
    border-radius: 7px;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 10px var(--fire-glow);
    }
    to {
        box-shadow: 0 0 20px var(--fire-glow);
    }
}