/* Mobile Viewport Settings */
meta {
    name: viewport;
    content: width=device-width, initial-scale=1.0;
}

/* Header Styling */
header {
    background-color: var(--header-bg-color);
    color: #ffffff;
    padding: 20px;
    border-radius: 7px;
    animation: pulse 2s infinite alternate;
    text-align: center;
}

/* Animation */
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

/* Navigation Styling */
nav {
    background-color: rgba(255, 255, 240, 0.105);
    color: var(--link-text-color);
    padding: 10px;
    border-radius: 7px;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
    nav {
        padding: 5px;
    }
}

/* Navigation List Styling */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    border-radius: 7px;
}

nav ul li {
    margin: 0 10px;
    position: relative;
}

nav ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgba(240, 248, 255, 0.105);
    transition: width 0.3s ease;
}

nav ul li:hover::after {
    width: 100%;
}

/* Responsive Font Size */
header {
    font-size: 1.5rem; 
}

nav ul li a {
    font-size: 1rem; 
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
    /* Adjust font size for smaller screens */
    header {
        font-size: 1.2rem;
    }
    nav ul li a {
        font-size: 0.9rem;
    }
}
